div.App {
  text-align: center;
  margin: 0;
  padding: 0
}

a, p {
  text-decoration: none;
  display: block;
  color: #e6e6d7;
  font-size: larger;
}

a:hover {
  color: #2196F3;
}

p.instructions {
  margin: .5em 0 .5em 0;
  width: 100%;
}
