/* to add */
img {
  max-width: 100%;
  max-height: 90vh;
  height: auto;
  width: auto;
  cursor: pointer;
}

p.info {
  margin-top: 5px;
}

div.imgContainer {
  width: 100%;
}

/* On mobile, max-width to 100% (minux edge margins) and float the title to the very bottom. */
