/* to add */
img {
  max-width: 100%;
  max-height: 90vh;
  min-height: 300px;
  min-width: 250px;
  background: url('https://i.imgur.com/FiS4Dq3.png'); /* Placeholder background for if an image fails to load */
  height: auto;
  width: auto;
  cursor: pointer;
}

p.info {
  margin: 5px 0;
}

p.info > a {
  color: #A5E3D0;
  display: inline-block;
}

p.info > a:hover {
  color: #61A7A1;
}

div.imgContainer {
  width: 100%;
}

div.App {
  text-align: center;
  margin: 0;
  padding: 0
}

a, p {
  text-decoration: none;
  font-size: large;
  display: block;
  color: #E4E9DF;
}

a:hover {
  color: #61A7A1;
}

div.instructions {
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

@media only screen and (min-device-width : 450px) and (max-device-width : 800px) {
  div.instructions {
    width: 60vw;
  }
}
@media only screen and (max-device-width : 450px) {
  div.instructions {
    width: 95vw;
  }
}

p.instructions {
  margin: .5em 0 .5em 0;
  width: 100%;
}